/* importing fonts */
@import url('https://fonts.googleapis.com/css2?family=Cabin+Condensed:wght@400;500;600;700&display=swap');

body{
  font-family: 'Cabin Condensed', sans-serif;
}

.header{
  height: 100vh;
  margin-top: -3rem ;
  background-color: #FFF9F4; 
}

.text-orange{
  color: #FA804C;
}

.text-blue{
  color: #363958;
}